{% extends "components/base.html" %}
{% load static %}
{%block title%}Dashboard - Sistema de Monitoreo{%endblock%}

{%block content%}

<link rel="stylesheet" href="{% static 'Authentication/css/Dashboard.css' %}">

<div class="bg-gray-50">

  <div class="p-4 space-y-8">
    <!-- Título -->
    <div class="flex items-center justify-between mb-4">
      <h1 class="text-2xl font-semibold text-gray-900">Dashboard</h1>
    </div>

    <!-- Tarjetas -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
      <div class="bg-white shadow rounded-lg p-4 attention-high">
        <div class="flex items-center">
          <i class="fas fa-brain text-3xl text-green-500"></i>
          <div class="ml-5">
            <p class="text-sm text-gray-500">Nivel de atención promedio</p>
            <p class="text-lg font-semibold text-gray-900">78%</p>
          </div>
        </div>
      </div>
      <div class="bg-white shadow rounded-lg p-4 attention-medium">
        <div class="flex items-center">
          <i class="fas fa-users text-3xl text-yellow-500"></i>
          <div class="ml-5">
            <p class="text-sm text-gray-500">Estudiantes distraídos</p>
            <p class="text-lg font-semibold text-gray-900">22%</p>
          </div>
        </div>
      </div>
      <div class="bg-white shadow rounded-lg p-4 attention-low">
        <div class="flex items-center">
          <i class="fas fa-chart-line text-3xl text-blue-500"></i>
          <div class="ml-5">
            <p class="text-sm text-gray-500">Sesiones monitoreadas</p>
            <p class="text-lg font-semibold text-gray-900">24</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Gráficas -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mb-4">
      <div class="bg-white shadow rounded-lg p-4">
        <div class="flex justify-between mb-4">
          <h3 class="text-lg font-semibold text-gray-900">Atención promedio por minutos de la clase</h3>
          
        </div>
        <svg id="attentionByClass" width="100%" height="300"></svg>
      </div>
      <div class="bg-white shadow rounded-lg p-4">
        <div class="flex justify-between mb-4">
          <h3 class="text-lg font-semibold text-gray-900">Tendencia de atención diaria</h3>
          
        </div>
        <svg id="attentionTrend" width="100%" height="300"></svg>
      </div>
    </div>
  </div>
<!-- Chart.js -->
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="{% static 'Authentication/js/Dashboard.js' %}"></script>
</div>
{%endblock%}