{% extends "components/base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'Authentication/css/home.css' %}">
    <div class="flex">
        <!-- Left Side with Image -->
        <div class="left-side"></div>

        <!-- Right Side with Welcome Text -->
        <div class="right-side">
            <section class="welcome-text">
                <h2>Bienvenido a MonitorAula</h2>
                <p>
                    Este sistema usa inteligencia artificial y visión por cámara para analizar la atención de los estudiantes en tiempo real.<br>
                    Detecta signos de somnolencia y distracción, ayudando a mejorar el aprendizaje y el ambiente en el aula.<br><br>
                    <strong>MonitorAula</strong> es tu aliado para potenciar la concentración y el rendimiento académico.
                </p>
            </section>
        </div>
    </div>
{% endblock %}
